.project
.classpath
queryBuilder-core/.classpath
queryBuilder-core/.project
queryBuilder-hql/.classpath
queryBuilder-hql/.project
queryBuilder-sql/.classpath
queryBuilder-sql/.project
/target
/.*
.settings/
*/.settings/
!/.gitignore